@use "../abstract" as *;

.nav {
    width: 70px;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem 0;
    gap: 1rem;
    z-index: 100;

    transition: all .3s var(--cubic);

    &__line {
        height: 100%;
        width: 2px;
        background-color: var(--color-secondary-400);
        border-radius: 20px;
        display: flex;

        &--top {
            height: 10rem;

        }

        &--sep {
            height: 1rem;

            &--xl {
                height: 4rem;

            }
        }
    }


    &__iconBox {
        position: relative;
        width: 40px;
        aspect-ratio: 1/1;
        padding: .2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;

        backdrop-filter: blur(30px);
        -webkit-backdrop-filter: blur(30px);

        // background-color: var(--color-alpha-600);

        &:hover>&__name {
            transform: translate(0, -50%);
            opacity: 1;
            pointer-events: all;
            visibility: visible;

        }


        &__icon {
            stroke: #ffff;
            cursor: pointer;
            width: 25px;
            aspect-ratio: 1/1;

            &--disabled {
                filter: contrast(0);
                opacity: .5;
                cursor: default;
            }
        }

        &__name {
            position: absolute;
            top: 50%;
            left: 100%;
            font-family: var(--ff-Mont);
            transform: translate(10px, -50%);
            padding: .5rem;
            border-radius: 10px;
            opacity: 0;

            background-color: var(--color-secondary-400);
            color: var(--color-primary-100);
            font-size: .7rem;
            font-weight: 500;
            box-shadow: 0 0 20px -10px #0000008c;
            z-index: 100;
            visibility: hidden;
        }
    }



}